---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout title="404 - Página no encontrada">
  <section class="py-28 text-center">
    <h1 class="text-4xl font-inconsolata font-normal text-black mb-5">
      404 - Página no encontrada
    </h1>
    <p class="text-lg text-gray-500 mb-5">
      Lo siento, no encontramos lo que buscas.
    </p>
    <a href="/" class="text-[#DD356E] hover:text-[#e14b7e] transition duration-300">
      Volver al inicio
    </a>
  </section>
</MainLayout>