---
---

<div id="ja75-started" class="bg-cover bg-center bg-no-repeat py-28 relative">
  <div class="absolute inset-0 "></div>
  <div class="container max-w-7xl mx-auto px-4">
    <div class="text-center animate-fade-in">
      <h2 class="text-[40px] font-inconsolata font-normal text-white mb-5">
        ¡Colaboremos!
      </h2>
      <p class="text-lg text-white/80 mb-8">
        ¿Tienes un proyecto en mente? Hablemos.
      </p>
      <p>
        <a href="/contacto" class="bg-astro-primary-orange text-astro-primary-dark text-base font-inconsolata font-normal uppercase py-4 px-12 rounded-full hover:bg-[#ffd700] hover:shadow-lg transition duration-300">
          Contactame
        </a>
      </p>
    </div>
  </div>
</div>

<style>
  @keyframes fade-in {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
  }
  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
</style>