---
const features = [
  { title: "Marketing", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:airballoon" },
  { title: "Search Engine", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:magnify" },
  { title: "Earn Money", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:wallet" },
  { title: "Entrepreneur", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:glass-wine" },
  { title: "Strategic Plan", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:lightbulb-on" },
  { title: "Support", description: "Facilis ipsum reprehenderit nemo molestias. Aut cum mollitia reprehenderit.", icon: "mdi:chat" },
];
---

<div id="ja75-features" class="bg-[#FEE856] py-28">
  <div class="container max-w-7xl mx-auto px-4">
    <div class="grid grid-cols-1 md:grid-cols-3 gap-10">
      {features.map((feature) => (
        <div class="flex items-start space-x-4 animate-fade-in">
          <span class="flex items-center justify-center w-16 h-16 bg-white rounded-full">
            <span class={`icon-[${feature.icon}] text-3xl text-[#DD356E]`}></span>
          </span>
          <div class="flex-1">
            <h3 class="text-2xl font-inconsolata font-normal mb-2">{feature.title}</h3>
            <p class="text-[15px] text-black mb-0">{feature.description}</p>
            <p>
              <a href="#" class="text-black hover:text-[#DD356E] transition duration-300 flex items-center space-x-1">
                <span>Learn More</span>
                <span class="icon-[mdi:arrow-right] text-xl"></span>
              </a>
            </p>
          </div>
        </div>
      ))}
    </div>
  </div>
</div>