---
import TwitterIcon from '../components/icons/Twitter.astro';
import LinkedIn from './icons/LinkedIn.astro';
import GithubIcon from '../components/icons/GitHub.astro'


const links = [
  { text: "Inicio", href: "/" },
  
  { text: "Contacto", href: "/contacto" },
];

const categories = [
  { text: "Exploración sonora", href: "/blog/mas-alla-del-arte" },
  { text: "Desarrollo de software", href: "/blog/primeros-pasos-codigo" },
  { text: "Pensamiento sistémico", href: "/blog/vision-sistemica" },
];

const contactInfo = [
  "Badajoz, España",
  
  "info@JA75.es",    // Reemplaza con tu email real
  
];

const socialLinks = [
 
  { platform: "LinkedIn", href: "https://linkedin.com/in/juan-amieva", component: LinkedIn },
  { platform: "GitHub", href: "https://github.com/juandejunin", component: GithubIcon },
];
---

<footer id="ja75-footer" class="py-28 text-white">
  <div class="container max-w-7xl mx-auto px-4">
    <div class="text-center">
      <p class="text-lg">
        <small class="block">© 2025 J75. Todos los derechos reservados.</small>
        <small class="block">
          Creado por J75 con <a href="https://astro.build" target="_blank" class="text-astro-accent-pink hover:text-white transition duration-300">Astro</a>
        </small>
      </p>
      <ul class="flex justify-center space-x-4 mt-4">
        {socialLinks.map(({ href, platform, component: Icon }) => (
          <li ={href}>
            <a 
              href={href} 
              target="_blank" 
              class="social-link text-white hover:text-astro-accent-pink transition duration-300"
              aria-label={`Sigue a J75 en ${platform}`} 
            >
              <Icon class="w-6 h-6" />
            </a>
          </li>
        ))}
      </ul>
    </div>
  </div>
</footer>
