---
const pdfPath = "/pdfs/cv-juan-amieva.pdf"; // Ruta estática desde public/
---

<header
  id="j75-header"
  class="j75-cover bg-top bg-no-repeat min-h-screen flex items-center relative"
>

  <!-- Contenedor principal -->
  <div class="container max-w-7xl mx-auto px-4 relative z-10">
    <div class="flex justify-center">
      <div class="w-full md:w-8/12 text-center">
        <div class="flex items-center min-h-screen">
          <div class="w-full animate-fade-in">
            <!-- Título principal -->
            <h1
              class="text-4xl md:text-[54px] font-inconsolata font-light text-white leading-tight mb-5"
            >
              ¡Hola! Soy J75.
            </h1>

            <!-- Subtítulo con tu descripción -->
            <h2
              class="text-xl md:text-2xl font-inconsolata text-white leading-relaxed mb-8"
            >
              Desarrollador de software y explorador sonoro.
            </h2>

            <!-- Breve descripción adicional -->
            <p class="text-lg font-inconsolata text-white mb-20">
              Transformo ideas en código y sonido, explorando nuevas formas de
              conexión.
            </p>

            <!-- Botón de descarga del CV -->
            <a
            href={pdfPath}
            download="CV_Juan_Amieva.pdf"
            class="btn bg-astro-accent-pink text-astro-primary-dark text-lg font-inconsolata py-4 px-12 rounded-full hover:bg-[#e14b7e] hover:shadow-lg transition duration-500 inline-flex items-center space-x-1"
          >
            <span>Descargar CV</span>
            <img src="/icons/download.svg" alt="Download" class="w-4 h-4" />
          </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<style>
  /* Animación personalizada */
  @keyframes fade-in {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

  .animate-fade-in {
    animation: fade-in 1s ease-out forwards;
  }
</style>