---

---

<div id="j75-wireframe" class="py-28">
  <div class="container max-w-7xl mx-auto px-4">
    <div class="text-center mb-20 animate-fade-in">
      <h2
        class="text-[40px] font-inconsolata font-normal text-white leading-tight"
      >
        Explorando la intersección entre sonido y código
      </h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-12 gap-8">
      <div class="md:col-span-5 animate-fade-in">
        <div class="w-11/12 mx-auto p-12">
          <h3 class="text-2xl font-inconsolata font-normal mb-5 leading-snug">
            Exploración sonora & creación digital
          </h3>
          <p class="text-lg text-gray-300 mb-5">
            <blockquote class="text-xl font-bold text-white mb-5">
              "El sonido no es solo música; es una herramienta, un lenguaje y
              una conexión. En el código, como en el sonido, busco entender las
              partes como un todo."
            </blockquote>
          </p>
          <span class="font-bold text-white">Juan Amieva</span><br />
          <small class="text-[#DD356E]">Explorador sonoro y desarrollador</small
          >
        </div>
      </div>
      <div class="md:col-span-7 animate-fade-in">
        <p class="text-lg text-white mb-5">
          Desde siempre me ha fascinado el sonido, no solo como música, sino
          también como una herramienta de comunicación y exploración. A lo largo
          de los años, he investigado cómo se comporta en el espacio, cómo lo
          percibimos y cómo se puede aplicar tanto en el arte como en soluciones
          prácticas. En paralelo, el desarrollo de software se convirtió en una
          herramienta clave para materializar y compartir mis ideas. Mi
          experiencia en backend me ha permitido optimizar el rendimiento, la
          escalabilidad y las buenas prácticas, mientras que en el frontend me
          enfoco en la experiencia del usuario y el SEO. Hoy en día, combino
          estas dos áreas para ofrecer soluciones accesibles y funcionales. Mi
          objetivo es crear herramientas que sean útiles, eficientes y
          aplicables tanto en el arte como en otros sectores. Entiendo que la
          funcionalidad es fundamental, y trabajo para construir soluciones que
          tengan un impacto real.
        </p>
      </div>
    </div>
  </div>
</div>
