---
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/global.css';
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JA75 — Free Website Template</title>
    <meta name="description" content="Free HTML5 Website Template by freehtml5.co" />
    <meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
    <meta name="author" content="freehtml5.co" />
    <link href="https://fonts.googleapis.com/css?family=Inconsolata:400,700" rel="stylesheet" />
  </head>
  <body>
    <div id="page">
      <Navbar />
      <slot />
      <Footer />
    </div>
    <div class="gototop js-top">
      <a href="#" class="js-gotop"><span class="icon-[mdi:arrow-up]"></span></a>
    </div>
  </body>
</html>